<div class="container">
    <h2>Manage Addresses</h2>
    <div class="cen">
        <div class="box">
            <h3 style="color:#3f9ce2 ;" class="h3">+ADD ADDRESS</h3>
        </div>
        <div class="box1">
            <div class="detail">
                <h3 style=" width:78px; border-radius:5px">Home</h3>
                <h4>Lakshmi Narayana</h4>
                <p>10-5,sivalayam temple ,konijedu village,tanguturu mandal,prakasam district-523272</p>
                <h6>Phone Number:9391311651</h6>
            </div>
        </div>
        <div class="box2">
        </div>
        <div class="d-grid">
            <button type="submit" class="primary">Save</button>
        </div>
    </div>
</div>