<div class="container">
    <h2>Manage Addresses</h2>
    <div class="cen">
        <div class="box">
            <button style="color:#3f9ce2; border: none; outline: none;" routerLink="/addaddress" >+ADD ADDRESS</button>
        </div>
        <div class="box1">
            <div class="detail">
                <h3 style=" width:78px; border-radius:5px">Home</h3>
                <h4>Lakshmi Narayana</h4>
                <p>10-5,sivalayam temple ,konijedu village,tanguturu mandal,prakasam district-523272</p>
                <h6>Phone Number:9391311651</h6>
            </div>
        </div>
        <div class="box2">
            <textarea id="w3review" name="w3review" rows="5" cols="74"></textarea>
        </div>
        <div class="d-grid">
            <button type="submit" class="primary">Save</button>
        </div>
    </div>
</div>