<div class="heading">
    <!-- <i class="fa fa-long-arrow-left fa-2x"  routerLink="/header" aria-hidden="true" style="color:white ;"></i> -->
    <i style='font-size:24px; color:white' class='fas' routerLink="/header">&#xf060;</i>
    <div><h5 style="color:white;padding-left:76px; margin-top: -39px;"> My Wishlist<br><p>0 items</p></h5></div> 
</div>
<div class="heading1">

     <div class="container">
        <h5>Your wishlist is empty</h5>
        <h6>Save items that you like in your wishlist.<br>Review them anytime and easily move <br>them to the bag</h6>
<button>SHOP NOW</button>
     </div>
    

</div>
<div class="heading2">

</div>
