<div class="container">
    <h2 style="margin-left:45px; margin-top: 18px;">Manage Saved UPI</h2>
    <section class="radio-section">
        <div class="radio-list">
            <div class="radio-item">
                <img src="assets/phonepe.png" class="pe">
                <i class="fa fa-trash"></i>
                <input type="radio" name="radio" id="radio1">
                <label for="radio1" class="phonepe">Phonepe <br>xxxxxxxxxx@ybl</label>
            </div>
            <div class="radio-item">
                <img src="assets/gpay.png" class="gpay">
                <input type="radio" name="radio" id="radio2">
                <i class="fa fa-trash"></i>
                <label for="radio2">Googlepay <br>xxxxxxxxxx@ybl</label>
            </div>
            <div class="radio-item">
                <img src="assets/paytm.png" class="paytm">
                <input type="radio" name="radio" id="radio3">
                <i class="fa fa-trash"></i>
                <label for="radio3">Paytm <br>xxxxxxxxxx@ybl</label>
            </div>
            <div class="radio-item">
                <img src="assets/apay.png" class="apay">
                <input type="radio" name="radio" id="radio4">
                <i class="fa fa-trash"></i>
                <label for="radio4">Amazom pay <br>xxxxxxxxxx@ybl</label>
            </div>
            <div class="radio-item">
                <img src="assets/debit.png" class="debit">
                <input type="radio" name="radio" id="radio5">
                <i class="fa fa-trash"></i>
                <label for="radio5">Debit card <br>xxxxxxxxxx@ybl</label>
            </div>
        </div>
    </section>

</div>