<div class="heading">
    <!-- <i class="fa fa-long-arrow-left fa-2x " routerLink="/header" aria-hidden="true" style="color:white ;"></i> -->
    <i style='font-size:24px; color:white' class='fas' routerLink="/header">&#xf060;</i>
    <div>
        <h5 style="color:white;padding-left:71px; margin-top: -30px;"> My orders</h5>
    </div>
</div>
<div class="heading1">
    <br>
    <div class="box">
        <img src="assets/raw.png">
        <h6 style="margin-top: -120px; margin-left:200px">Brown raw silk Granite</h6>
        <p style="margin-left:200px;">Branded Stones <br> Mixed Colors Stones <span
                style=" margin-left: 300px;">$1600.00</span></p>
        <!-- <div class="rating">
            <ng-container *ngFor="let i of star">
                <i class="fa fa-star fa-2x " aria-hidden="true" id="rate" (click)="updateRating(i)"
                    [ngClass]="{'active':i<=rating }"></i>
            </ng-container>
        </div> -->
    </div>
    <br>
    <div class="box1">
        <img src="assets/raw1.png">
        <h6 style="margin-top: -100px; margin-left:200px">Natural stone Black Granite</h6>
        <span style=" margin-left: 648px;">$1800.00</span>
        <!-- <div class="rating1">
            <ng-container *ngFor="let i of stars">
                <i class="fa fa-star fa-2x " aria-hidden="true" id="rate" (click)="updateRatin(i)" [ngClass]="{'actives':i<=ratings }"></i>
            </ng-container>
        </div> -->


    </div>
    <div class="heading2">

    </div>
    <!-- <h3>Reviews & Rating</h3>
<div class="rating">
    <ng-container *ngFor="let i of star">
        <i class="fa fa-star fa-2x " aria-hidden="true" id="rate"  (click)="updateRating(i)" [ngClass]="{'active':i<=rating }"></i>
    </ng-container> -->
</div>
