<div class="addaddress"></div>
<div>
    <h5 style="margin-top: -44px; margin-left:34px; color: white;">Add Address</h5>
</div>
<div class="arrow"><i style='font-size:20px; color:white' class='fas' routerLink="/header">&#xf060;</i></div>
<div class="container">
    <div>
        <input type="text" class="form-control " id="text" placeholder="Full Name" name="text">
    </div>
    <br>
    <div>
        <input type="text" class="form-control" id="phone number" placeholder="Phone Number" name="phone numder">
    </div>
    <br><br>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Pin Code" name="pin code">
        </div>
        <div class="col">
            <select class="form-select" aria-label="Default select example">
                <option selected>type</option>
                <option value="1">Home</option>
                <option value="2">Office</option>
                <option value="3">Work Place</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="City" name="city">
        </div>
        <div class="col">
            <select class="form-select" aria-label="Default select example">
                <option selected>State</option>
                <option value="1">Andhra Pradesh</option>
                <option value="2">Arunachal Pradesh</option>
                <option value="3">Bihar</option>
                <option value="3">Chhattisgarh</option>
                <option value="3">Goa</option>
                <option value="3">Gujarat</option>
                <option value="3">Haryana</option>
                <option value="3">Himachal Pradesh</option>
                <option value="3">Jammu and Kashmir</option>
                <option value="3">Jharkhand</option>
                <option value="3">Karnataka</option>
                <option value="3">Kerala</option>
                <option value="3">Madhya Pradesh</option>
                <option value="3">Maharashtra</option>
                <option value="3">Manipur</option>
                <option value="3">Meghalaya</option>
                <option value="3">Mizoram</option>
                <option value="3">Nagaland</option>
                <option value="3">Odisha</option>
                <option value="3">Punjab</option>
                <option value="3">Rajasthan</option>
                <option value="3">Tamil Nadu</option>
                <option value="3">Telangana</option>
                <option value="3">Tripura</option>
                <option value="3">Uttarakhand</option>
                <option value="3">Uttar Pradesh</option>
                <option value="3">West Bengal</option>
                <option value="3">Andaman and Nicobar Islands</option>
                <option value="3">Chandigarh</option>
                <option value="3">Dadra and Nagar Haveli</option>
                <option value="3">Daman and Diu</option>
                <option value="3">Delhi</option>
                <option value="3">Lakshadweep</option>
                <option value="3">Puducherry</option>
            </select>
        </div>
    </div>
    <br>
    <div>
        <input type="text" class="form-control " id="text" placeholder="House No,Building Name, Door No" name="text">
    </div>
    <br>
    <div>
        <input type="text" class="form-control" id="phone number" placeholder="Road No,Area,Street" name="phone numder">
    </div>
    <br>
      <button class="btn btn-primary">Save</button>
</div>


