<div class="container">
    <h2 style="margin-left:45px; margin-top: 18px;">Manage Saved Cards</h2>
    <!-- <i class="fa fa-plus-square" aria-hidden="true" style="margin-right:200px ; margin-top:0px; color: blue;"></i> -->
    <div class="box">
        <img src="assets/sbilogo.png">
        <i class="fa fa-trash" style="color: red;"></i>
        <h4>Debit Card</h4>
        <p>XXXX XXXX XXXX 2658</p>
    </div>
    <!-- <div class="box1">
        <div class="container">
        <div class="mb-3 mt-3">
            <label for="text" class="form-label" style="font-weight:bold ;">Credit/Debit card</label>
            <input type="text" class="form-control" id="text"  placeholder="Enter card number">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label" style="font-weight:bold ;">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Your Name">
        </div>
        <div class="row">
            <div class="col">
                <label for="name" class="form-label" style="font-weight:bold ;">Expiration Date</label>
                <input type="text" class="form-control" placeholder="00/00">
            </div>
            <div class="col">
                <label for="name" class="form-label" style="font-weight:bold ;">CVV</label>
                <input type="text" class="form-control" placeholder="000" name="pswd">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left:298px; margin-top: 7px;">Submit</button>

    </div> 
    </div>-->
</div>