input{
    height: 40px;
    width: 561px;
    margin: 20px;
    border-radius: 5px;
}
.box{
    height: 100px;
    width: 557px;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin: 22px;
}
p{
    margin: 5px;
}
.class{
    width: 20px;
    height: 20px;
    margin-top: -1px;
}
.par{
    margin: 50px;
    margin-top: -43px;
}
button{
    width: 15%;
    margin-left: 330px;
}
.primary{
    color:white ;
    background-color: #3f9ce2;
    border: 2px solid #3f9ce2;
    border-radius: 5px;
    width: 100px;
    height: 45px;
    margin-left: 300px;
  
 }
 .primary:hover{
    background: blue;
   }