<div class="container">
    <h2>PAN Card Information</h2>
    <div>
        <input type="text" placeholder="Enter Your PAN Card Number">
        <input type="text" placeholder="Full Name">
    </div>
    <div class="box">
        <p>Upload PAN Card (Only JPEG file allowed</p>
        <input type="file" placeholder="Choose File">
    </div>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" class="class">
    <p class="par">I do here declare that PAN furnished/stated above is correct and belongs to me,registered as account holder with www.flipcart.com . I further declare that I shall solely be held responsible for the consequences , in case of any false PAN declaration </p>
    <div class="d-grid">
        <button type="submit" class="primary">Upload</button>
    </div>
</div>